@import "tailwindcss";
:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-dingy-dungeon: #BF3952;
    --color-b-dazzled-blue: #30588C;
    --color-rich-black: #011526;
    --color-silver-lake-blue: #6093BF;
    --color-japanese-indigo: #254559;
    /* Variables que antes estaban en @theme */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans, sans-serif);
    --font-mono: var(--font-geist-mono, monospace);
}



body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
}
input,
select,
textarea {
  color: #1f2937; /* equivalente a Tailwind's text-gray-800 */
}
